<div class="row">
   <div class="col-md-12">
      <div class="card-box">
         <div class="dropdown pull-right">
                     <%= link_to 'Adicionar conteúdo', new_crew_apresentation_path, class: 'btn btn-primary' %>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <h4 class="header-title m-t-0 m-b-30">Carta de Apresentação</h4>
         <table  class="table m-0">
            <thead>
               <tr>
                  <th>Título</th>
                  <th>Configurações</th>
               </tr>
            </thead>
            <tbody>
               <% @crew_apresentations.each do |crew_apresentation| %>
               <tr>
                  <td><%= crew_apresentation.title %></td>
                   <td><%= image_tag crew_apresentation.photo_url(:small)unless crew_apresentation.photo_url.blank?  %></td>
                  <td><%= link_to  crew_apresentation do %><button data-toggle="tooltip" data-placement="left" title="Ver mais" class="btn btn-icon waves-effect waves-light btn-primary m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-eye"></i></button><% end %>
                 <%=  link_to  edit_crew_apresentation_path(crew_apresentation) do %>
                 <button data-toggle="tooltip" data-placement="left" title="Editar" class="btn btn-icon waves-effect waves-light btn-warning m-b-5"> <i class="fa fa-wrench"></i></button><% end %>

                 <%= link_to crew_apresentation, :method=>:delete, :class=>:destroy, data: { confirm: 'Tem certeza que deseja apagar?' } do %><button data-toggle="tooltip" data-placement="left" title="Apagar" class="btn btn-icon waves-effect waves-light btn-danger m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-remove"></i></button><% end %></td>
               </tr>
                  
               <% end %>
            </tbody>
         </table>
         <br>

      </div>
   </div>
   <!-- end col -->
</div>