<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @crew_apresentation.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crew_apresentation.description %>
</p>

<%= link_to 'Edit', edit_crew_apresentation_path(@crew_apresentation) %> |
<%= link_to 'Back', crew_apresentations_path %>
