<p id="notice"><%= notice %></p>

<h1>Crew Solidaries</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crew_solidaries.each do |crew_solidary| %>
      <tr>
        <td><%= crew_solidary.title %></td>
        <td><%= crew_solidary.description %></td>
        <td><%= crew_solidary.photo %></td>
        <td><%= link_to 'Show', crew_solidary %></td>
        <td><%= link_to 'Edit', edit_crew_solidary_path(crew_solidary) %></td>
        <td><%= link_to 'Destroy', crew_solidary, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew Solidary', new_crew_solidary_path %>
