<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @crew_solidary.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= raw @crew_solidary.description %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @crew_solidary.photo_url(:small) unless @crew_solidary.photo_url.blank?%>
</p>

<%= link_to 'Edit', edit_crew_solidary_path(@crew_solidary) %> |
<%= link_to 'Back', crew_solidaries_path %>
