<div class="gb-menu-first">
    <div class="container">
        <div class="row">
          
                <a class="icons" href="www.facebook.com/sonu.ufc"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a class="icons" href="www.instagram.com/sonu_ufc"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a class="icons" href="https://www.flickr.com/sonufotografia/"><i class="fa fa-flickr" aria-hidden="true"></i>
                    </a>
   
                <%= link_to 'Login', new_user_session_path, class: "link-top" %>
                <%= link_to 'Cadastre-se', new_user_registration_path , class: "link-top" %>
  
            
        </div>
    </div>
    
</div>


<div class="gb-menu">
            <nav class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <%= link_to root_path, class:"navbar-brand"   do  %><%= image_tag ("/images/logobranca-iloveimg-resized (2).png"), alt:"Logo", class:"img-responsive" %><% end %>
                    </div><!-- /.navbar-header -->

                    <div class="collapse navbar-collapse navbar-right" id="navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li class="active gb-dropdown"><%= link_to 'A SONU', root_path %>
                                <ul class="gb-dropdown-menu gb-list fadeInUp" role="menu">
                                    <li><%= link_to 'Carta de apresentação', apresentation_path %></li>
                                    <li><%= link_to 'O Secretariado', secretary_path%></li>
                                    <li><%= link_to 'A Diretoria', diretory_path%></li>
                                    <li><%= link_to 'O que são MUNs?',muns_path %></li>
                                    <li><%= link_to 'História da SONU', story_path %></li>
                                    <li><%= link_to'Festas', parties_path%></li>
                                    <li><%= link_to 'Fortaleza', fortaleza_path%></li>
                                    <li><%= link_to 'FAQ', site_faq_path%></li>
                                </ul>
                            </li>
                            <li class="gb-dropdown" ><a href="about.html">SONU <%= Time.now.strftime("%Y") %></a>
                                <ul class="gb-dropdown-menu gb-list fadeInUp" role="menu">
                                    <li><%= link_to 'Comitês', comites_path %></li>
                                    <li><%= link_to 'Cronograma', site_cronogram_path %></li>
                                    <li><%= link_to'Certificados', site_certificates_path %></li>
                                </ul>
                            </li>
                            <li class="gb-dropdown" ><a href="speaker.html"> Outros Projetos</a>
                                  <ul class="gb-dropdown-menu gb-list fadeInUp" role="menu">
                                    <li><%= link_to 'SONU Acadêmico', site_academic_path %></li>
                                    <li><%= link_to 'SONU Beta', site_beta_path %></li>
                                    <li><%= link_to 'SONU Escolas', schools_path %></li>
                                    <li><%= link_to 'SONU Solidário', solidary_path  %></li>
                                    <li><%= link_to 'Imprensa', site_press_path%></li>
                                    <li><%= link_to 'Minicursos/Palestras', site_speeches_path %></li>
                                </ul>  
                            </li>
                            <li><%= link_to 'Notícias', noticias_path%></li>
                            <li class="gb-dropdown" ><a href="blog.html">Publicações</a>
                                    <ul class="gb-dropdown-menu gb-list fadeInUp" role="menu">
                                    <li><a href="about.html">Compilações de Guias</a></li>
                                    <li><a href="speaker.html">Revista SONU</a></li>
                                    <li><a href="pricing.html">Outros (?)</a></li>
                                </ul>  
                            </li>
                            <li><%= link_to 'Parceiros', partners_path %></li>
                            <li><%= link_to 'Contato', contact_path %></li>
                            <li><%= link_to 'Inscrições', inscription_path %></li>
                            <% if user_signed_in? %>
                            <li><%= link_to 'Perfil', perfil_user_path%></li>
                            <% end %>

                        </ul>   
                    </div>
                </div><!-- /.container -->                  
            </nav><!-- /.navbar -->                                     
        </div><!-- /.gb-menu -->
        
   <%= yield %>
    
    <div class="gb-footer white-color">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <%= image_tag '/images/logobranca-iloveimg-resized (2).png'%>
                   
                    </div>
                    <div class="col-md-6 text-right">
                        <h6>REDES SOCIAIS:</h6>
                            <a class="icons" href="www.facebook.com/sonu.ufc"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            <a class="icons" href="www.instagram.com/sonu_ufc"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                            <a class="icons" href="https://www.flickr.com/sonufotografia/"><i class="fa fa-flickr" aria-hidden="true"></i>
                                </a>

                    </div>

                </div>
            </div>
    </div><!-- /.gb-footer -->      
