<p id="notice"><%= notice %></p>

<h1>Crew Secretaries</h1>

<table>
  <thead>
    <tr>
      <th>Office</th>
      <th>Name</th>
      <th>Description</th>
      <th>Photo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crew_secretaries.each do |crew_secretary| %>
      <tr>
        <td><%= crew_secretary.office %></td>
        <td><%= crew_secretary.name %></td>
        <td><% raw crew_secretary.description %></td>
        <td><%= (image_tag crew_secretary.photo.thumb) %></td>
        <td><%= link_to 'Show', crew_secretary %></td>
        <td><%= link_to 'Edit', edit_crew_secretary_path(crew_secretary) %></td>
        <td><%= button_to "delete", crew_secretary, :method=>:delete, :class=>:destroy, class: 'btn btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew Secretary', new_crew_secretary_path %>
