<div class="row">
   <div class="col-md-12">
      <div class="card-box">
         <div class="dropdown pull-right">
                      <%= link_to 'Nova categoria', new_crew_category_event_path, class: 'btn btn-primary' %>
         </div>
         <h4 class="header-title m-t-0 m-b-30">Comitês</h4>
            <table  class="table m-0">
            <thead>
               <tr>
                  <th>Categoria</th>
                  <th>Comitê</th>
                  <th colspan="2">Configurações</th>
               </tr>
            </thead>
            <tbody>
              <% @category_event.each do |category_event| %>
                <tr>

                  <td><%= category_event.name %></td>
                  <td><%= category_event.comitee_id%></td>
                  <td>
                  <%=  link_to  edit_crew_category_event_path(category_event) do %>
                     <button data-toggle="tooltip" data-placement="left" title="Editar" class="btn btn-icon waves-effect waves-light btn-warning m-b-5"> <i class="fa fa-wrench"></i></button><% end %>
                  <%= link_to  crew_category_event_path(category_event), :method=>:delete, :class=>:destroy, data: { confirm: 'Tem certeza que deseja apagar?' } do %><button data-toggle="tooltip" data-placement="left" title="Apagar" class="btn btn-icon waves-effect waves-light btn-danger m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-remove"></i></button><% end %>
                    

                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
          <%= link_to 'Ir para comitês', crew_comitees_path, class: 'btn btn-primary' %>

      </div>
   </div>
   <!-- end col -->
</div>
