<div class="gb-breadcrumb-login-cadastro gb-bg white-color">
   <div class="container">
      <div class="breadcrumb-info text-center">
         <div class="title-white">
            <h1>
               <span>Eventos</span>
            </h1>
         </div>
      </div>
   </div>
   <!-- /.container -->
</div>

<!-- /.gb-breadcrumb -->

      
<div class="wrapper-page-inscription">
   <div class="m-t-40 card-box-inscription">
      <div class="panel-body">

         <h2><%=@comitee.name %></h2>

         <div><i class="fa fa-calendar"></i> 
            <%=@comitee.start_date.strftime("%d/%m/%Y") %> - <%=@comitee.end_date.strftime("%d/%m/%Y") %>
         </div>

            <h5><%= @comitee.type_event %></h5>

            <% if current_user.is_cotist == true %>
            <i class="fa fa-usd" aria-hidden="true"></i>
            <span class="label label-success" >Valor: <%= @comitee.paid_comitee_value(current_user) %></span>
            <h6>VOCÊ É COTISTA<span class="label label-warning" > <%=link_to 'ALTERAR', update_cotist_user_path(@comitee), method: 'get' %></span><i class="fa fa-arrow-right" aria-hidden="true"></i> Clique aqui para alterar seu status para não Cotista. </h6>

            <div class="alert alert-warning">
               <strong>Atenção!</strong> Aos alunos cotistas será posteriormente solicitado documentação confirmando que são <strong>estudantes de escola pública</strong> ou terminaram o ensino médio em escola pública.
            </div>

            <% else %>

            <i class="fa fa-usd" aria-hidden="true"></i>
            <span class="label label-success" >Valor: <%= @comitee.paid_comitee_value(current_user) %></span>
            <h6>VOCE NÃO É COTISTA <span class="label label-warning" ><%=link_to 'ALTERAR', update_cotist_user_path(@comitee), method: 'get' %></span> <i class="fa fa-arrow-right" aria-hidden="true"></i> Clique aqui para alterar seu status para Cotista. </h6>
            <div class="alert alert-warning">
               <strong>Atenção!</strong> Aos alunos cotistas será posteriormente solicitado documentação confirmando que são <strong>estudantes de escola pública</strong> ou terminaram o ensino médio em escola pública.
            </div>
            
            <% end %>
            
         <% if @comitee.is_active %>
         <% if current_user.comitee_id.nil? || @comitee.id != @current_user.comitee_id %>
         <% if @comitee.is_full?(current_user) %>
         <% if current_user.is_cotist? %> 
         <div class="alert alert-danger">
            <strong>Atenção!</strong> Não há vagas para cotista. Porém, caso haja vaga e você queira se inscrever e pagar como <strong>não cotista</strong>, basta alterar novamente.
         </div>
         <% else %>
         <div class="alert alert-danger">
            <strong>Atenção!</strong> Nao há vagas para não cotista.
         </div>
         <% end %>
         <% else %>
</div>
</div>
</div>
<div class="inscricao"> 
 <div class="container">
   <div class="row">
         <div class="col-md-12">
         <%= form_for @user, url: { :action => "update" }, html: { method: :put } do |f| %>
         <% if @user.errors.any? %>
         <script type="text/javascript">
            toastr.error('<%= pluralize(@user.errors.count, "erros") %> encontrados: </br><% @user.errors.full_messages.each do |message| %><%= message %></br><% end %>', "Aviso");
         </script>
         <% end %>
         <input type=hidden name=id_evento id="id_evento" value="<%=@comitee.id%>">
         <div class="form-group ">
         <div class="col-xs-12">  
         <% if @comitee.dual? %>
         CPF da Dupla * (É necessário a dupla estar cadastrada no sistema):
         <%= f.text_field :cpf_dual, id: 'cpf_dupla', class: 'form-control' %><br> 
         </div>
         </div>
         <div id="result-nome"></div>

         <br>
         <div class="form-group ">
            <div class="col-xs-12"> 
         Quem efetuará o pagamento? *
         <div> 
            <label>
            <%= f.radio_button :lider_dual, 'Titular da dupla' %> 
            Eu
            </label>
            <label>
            <%= f.radio_button :lider_dual, 'Não titular' %> 
            Minha dupla
            </label>
            
         </div>
      </div>
   </div>
   <% end %>
   <div class="form-group ">
      <div class="col-xs-12">  
         Selecione até <strong>5</strong> Opções: 
         <%= f.select( :categories_ids, CategoryEvent.where(comitee_id: @comitee).collect {|p| [ p.name, p.id ] },{:include_hidden => false}, {:multiple => true, class: 'form-control', id: 'categories_event' } ) %>
         <br>
      </div>
   </div>
   <div class="form-group ">
      <div class="col-xs-12">                       
         Justifique a escolha das três primeiras opções:<br>
         <%= f.text_area :justify, class: 'form-control'%><br><br>
      </div>
   </div>
   <div class="form-group ">
      <div class="col-xs-12"> 
         Escreva suas experiências em simulações:<br>
         <%= f.text_area :experience, class: 'form-control'%><br><br>
      </div>
   </div>
   <% if @comitee.question_1 != "" %>
   <div class="form-group ">
      <div class="col-xs-12"> 
         <%= @comitee.question_1 %>:<br>
         <%= f.text_area :answer_1, class: 'form-control'%><br><br>
         <% end %>
      </div>
   </div>
   <% if @comitee.question_2 != "" %>
   <div class="form-group ">
      <div class="col-xs-12"> 
         <%= @comitee.question_2  %>:<br>
         <%= f.text_area :answer_2, class: 'form-control'%><br><br>
         <% end %>
      </div>
   </div>
   <% if @comitee.question_3 != "" %>
   <div class="form-group ">
      <div class="col-xs-12"> 
         <%= @comitee.question_3  %>:<br>
         <%= f.text_area :answer_3, class: 'form-control'%><br><br>
         <% end %>
      </div>
   </div>
   <% if @comitee.question_4 != "" %>
   <div class="form-group ">
      <div class="col-xs-12"> 
         <%= @comitee.question_4  %>:<br>
         <%= f.text_area :answer_4, class: 'form-control'%><br><br>
         <% end %>
      </div>
   </div>
   <% if @comitee.question_5 != "" %>
   <div class="form-group ">
      <div class="col-xs-12"> 
         <%= @comitee.question_5  %>:<br>
         <%= f.text_area :answer_5, class: 'form-control'%><br><br>
         <% end %>
      </div>
   </div>
   <div class="form-group ">
      <div class="col-xs-12"> 
         Link Perfil Facebook:
         <%= f.text_field :face_link, class: 'form-control'%><br><br>
      </div>
   </div>
   <div class="form-group ">
      <div class="col-xs-12">
         <%= f.submit "Cadastrar", class: "btn btn-login" %><br><br>
      </div>
   </div>
   <% end %>
</div>
</div>
<% end %>
<% else %>
<% if @user.paid_on.nil? %>
<% if (@user.comitee.dual? && @user.lider_dual==true) || !@user.comitee.dual? %>
<div><%= link_to payment_path, target: '_blank' do %>
   <input src="https://stc.pagseguro.uol.com.br/public/img/botoes/pagamentos/120x53-pagar.gif" type="image" class="btn-pagseguro">
   <% end %>
</div>
<% else %>
Sua dupla foi encarregada de pagar =)
<% end %>
<% else %>
Pago!
<% end %>
<% end %>
<% else %>
<h6><%= " Sua dupla: #{User.where(cpf: Cpf.new(current_user.cpf_dual)).first.name.capitalize}"  %></h6>
<div> Evento Finalizado! </div>
<% end %>
</div>
<div style="clear:both"></div>
</div>
</div>
<div id="result-nome2"></div>
</div>
</div>
</div>