<div class="row">
   <div class="col-sm-12">
      <div class="card-box">
         <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <h4 class="header-title m-t-0 m-b-30">Comitês da SONU grande</h4>
         <div class="row">
            <div class="col-md-12">
              <%= form_for(crew_big_sonu_comitee) do |f| %>
                <% if crew_big_sonu_comitee.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(crew_big_sonu_comitee.errors.count, "error") %> prohibited this crew_big_sonu_comitee from being saved:</h2>

                    <ul>
                    <% crew_big_sonu_comitee.errors.full_messages.each do |message| %>
                      <li><%= message %></li>
                    <% end %>
                    </ul>
                  </div>
                <% end %>

                <div class="form-group">
                  <div class="col-md-10">
                  <%= f.label :name do %>
                  <span>Nome</span>
                  <% end %> 
                  <%= f.text_field :name, class: "form-control"  %><br><br>
                </div>
                  </div>

                <div class="form-group">
                  <div class="col-md-10">
                  <%= f.label :description do %>
                  <span>Sobre</span>
                  <% end %>
                  <%= f.text_area :description, class: "form-control"  %><br><br>
                </div>
                  </div>

                <div class="form-group">
                  <div class="col-md-10">
                  <%= f.label :photo do %>
                  <span>Foto</span>
                  <% end %>
                  <%= f.file_field :photo,   class: "dropify"  %><br><br>
                </div>
                  </div>

                <div class="form-group m-b-0">
                  <div class="col-md-12">
                  <%= f.submit 'Cadastrar comitê', class: "btn btn-purple" %>
                </div>
                  </div>
              <% end %>
            </div>
            <!-- end col -->
         </div>
         <!-- end row -->
      </div>
   </div>
   <!-- end col -->
</div>
<!-- end row -->