<p id="notice"><%= notice %></p>

<p>
  <strong>Nome do comitê</strong>
  <%= @crew_big_sonu_comitee.name %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= raw @crew_big_sonu_comitee.description %>
</p>

<p>
  <strong>Imagem:</strong>
  <%= image_tag @crew_big_sonu_comitee.photo_url(:thumb) %>
</p>

<%= link_to 'Edit', edit_crew_big_sonu_comitee_path(@crew_big_sonu_comitee) %> |
<%= link_to 'Back', crew_big_sonu_comitees_path %>
