<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crew_big_sonu_comitee.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crew_big_sonu_comitee.description %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @crew_big_sonu_comitee.photo %>
</p>

<%= link_to 'Edit', edit_crew_big_sonu_comitee_path(@crew_big_sonu_comitee) %> |
<%= link_to 'Back', crew_big_sonu_comitees_path %>
