<div class="row">
   <div class="col-md-12">
      <div class="card-box">
         <div class="dropdown pull-right">
            <a href="#" class="dropdown-toggle card-drop" data-toggle="dropdown" aria-expanded="false">
            <i class="zmdi zmdi-more-vert"></i>
            </a>
            <ul class="dropdown-menu" role="menu">
               <li><a href="#">Action</a></li>
               <li><a href="#">Another action</a></li>
               <li><a href="#">Something else here</a></li>
               <li class="divider"></li>
               <li><a href="#">Separated link</a></li>
            </ul>
         </div>
         <h4 class="header-title m-t-0 m-b-30">Fortaleza</h4>
            <table  class="table m-0">
            <thead>
               <tr>
                  <th>Título</th>
                  <th>Descrição</th>
                  <th colspan="2">Configurações</th>
               </tr>
            </thead>
            <tbody>
              <% @crew_fortalezas.each do |crew_fortaleza| %>
                <tr>
                  <td><%= crew_fortaleza.title %></td>
                  <td><%= raw crew_fortaleza.description %></td>
                  <td><%= link_to 'Show', crew_fortaleza, class: 'btn btn-success' %></td>
                  <td><%= link_to 'Edit', edit_crew_fortaleza_path(crew_fortaleza), class: 'btn btn-warning'%>
                  </td>
                  <td><%= button_to "delete", crew_fortaleza, :method=>:delete, :class=>:destroy, class: 'btn btn-danger' %></td>
                </tr>
              <% end %>
            </tbody>
          </table>

          <br>
            <%= link_to 'Adicionar Conteúdo', new_crew_fortaleza_path,class: 'btn btn-primary' %>
      </div>
   </div>
   <!-- end col -->
</div>