<p id="notice"><%= notice %></p>

<p>
  <strong>Título:</strong>
  <%= @crew_fortaleza.title %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= raw @crew_fortaleza.description %>
</p>

<%= link_to 'Edit', edit_crew_fortaleza_path(@crew_fortaleza) %> |
<%= link_to 'Back', crew_fortalezas_path %>
