<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @crew_partner.title %>
</p>

<p>
  <strong>Photo:</strong>
  <% @crew_partners.each do |photo| %>
  <%= image_tag (photo.photos) %>
  <% end %>
</p>



<%= link_to 'Edit', edit_crew_partner_path(@crew_partner) %> |
<%= link_to 'Back', crew_partners_path %>
