
		
		<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div>
						<h1>
							<span class="before-top"></span>
							<span>A Diretoria</span>
							<span class="before-bottom"></span>
						</h1>
					</div>
					<ol class="breadcrumb">
						<li><%=link_to 'A Diretoria', site_apresentation_path %></li>
						<li class="active"> <%= link_to 'O Secretariado', site_secretary_path %></li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->		
<div class="gb-speakers gb-section">
			<div class="container">
				<div class="row">
					<% @crew_diretories.each do |crew_diretory| %>
					<div class="col-sm-6 col-md-3">
						<div class="speaker">
							<div class="speaker-image">
								
								<%= image_tag crew_diretory.photo_url(:medio) , class: "img-responsive"%>
								<ul class="speaker-social gb-list list-inline">
									<li><p><%= raw crew_diretory.description%><p></li>
								</ul>
							</div>
							<div class="speaker-title">
								<h2><%= crew_diretory.office %></h2>
								<span><%= crew_diretory.name %></span>
							</div>
						</div>
					</div>
					
					<% end %>
					</div>
</div>
</div>