
        <div class="gb-banner">
            <div class="banner-info text-center">
                <div class="container">
                    <h1>SONU XIII</h1>
                    <h2><span>27-29 june</span> Fortaleza, Brazil</h2>
                    <a href="#" class="btn button-white">Inscreva-se</a>
                    <ul class="countdown gb-list list-inline">
                        <li>                    
                            <span class="days">00</span>
                            <p>days</p>
                        </li>
                        <li>
                            <span class="hours">00</span>
                            <p>hours</p>
                        </li>
                        <li>
                            <span class="minutes">00</span>
                            <p>minutes</p>
                        </li>
                        <li>
                            <span class="seconds">00</span>
                            <p>seconds</p>
                        </li>               
                    </ul><!-- countdown -->                     
                </div><!-- /.container -->
            </div><!-- /.banner-info -->
        </div><!-- /.gb-banner -->
        
    <div class="gb-section text-center">
            <div class="container">
            <div class="title-partners">
                    <h1 class="color-red">
                        <span>ÚLTIMAS NOTÍCIAS</span>
                    </h1>
                </div>

                <div class="blog-content">
                <div class="row">
                <% @crew_blogs[0..3].each do |crew_blogs| %>
                    <div class="col-sm-6 col-md-3">


                            <div class="gb-post gb-box-shadow">
                                <div class="entry-header">

                                    <div class="entry-thumbnail">
                                        <a href="blog-details.html"><%= (image_tag crew_blogs.photo, class: "img-responsive") %></a>
                                    </div>
                                </div>
                                <div class="post-date-index">
                                    <p><%= crew_blogs.created_at.strftime("%d") %></p>
                                    <span><%= crew_blogs.created_at.strftime("%B") %></span>
                                </div>
                
                                <div class="entry-content-index">

                                        <h2 class="entry-title-index"><a href="blog-details.html"><%= link_to crew_blogs.title, news_path(crew_blogs) %></a></h2>
                                </div>
                            </div><!-- /.gb-post -->
                            </div>
                        <% end %>
                </div>
            </div>
            <%= link_to 'Veja mais', noticias_path ,class: "btn btn-default" %>
        </div>        
</div>

        <div class="gb-cta-1 gb-section gb-bg">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 white-color">
                        <h1>A SONU</h1>
                            <p>O Programa Simulação da Organização das Nações Unidas, veiculado à Pró-Reitoria de Extensão da Universidade Federal do Ceará (UFC) e realizado em parceria com a Universidade de Fortaleza (Unifor), é o primeiro modelo de simulação de organismos internacionais no estado do Ceará, sendo organizada por alunos bolsistas e voluntários de diversas instituições de Ensino Superior de Fortaleza, sob a orientação de docentes da UFC. </p>
                        <div class="buttons">
                            <a href="#" class="btn button-white">Conheça</a>
                        </div>
                      </div>  
                      </br>
                    <div class="col-md-4">
                        <iframe width="300" height="300" src="https://www.youtube.com/embed/RTToBS0J8B0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div><!-- /.container -->
        </div><!-- /.gb-cta-1 -->

        <div class="gb-brand gb-section gb-bg ">
            <div class="container">
                    <div class="title-partners">
                    <h1>
                        <%= image_tag '/images/folhasonu-iloveimg-resized.png'%>
                        <span>Nossos Parceiros</span>
                        <%= image_tag '/images/folhasonu-iloveimg-resized.png'%>
                    </h1>
                    </div>
                </div>
                <div class="brand-slider text-center">
                    <div class="brand">
                        <img src="images/brand/1.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/2.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/3.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/4.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/5.jpg" alt="Image" class="img-responsive">
                    </div>
                    <div class="brand">
                        <img src="images/brand/3.jpg" alt="Image" class="img-responsive">
                    </div>
                </div>              
            </div><!-- /.container -->
        </div><!-- /.gb-brand  -->
        
        <div class="gb-contact text-center">
            <div id="gmap"></div>
            <div class="contact-info">
                <div class="event">
                    <div class="gb-time color-red">
                        <p>SONU<span>Br</span></p>
                    </div>
                    <h2>Centro, Fortaleza-CE</h2>
                    <address><p>Rua Meton de Alencar S/N</p></address>
                    <address><p>contato@sonu.com.br</p></address>
                    <a href="#" class="btn btn-default">Fale Conosco</a>
                </div>
                <ul class="contact-social gb-list list-inline">
                    <li><a href="#"><img src="images/others/facebook.png" alt="Icon" class="img-responsive"></a></li>
                    <li><a href="#"><img src="images/others/youtube.png" alt="Icon" class="img-responsive"></a></li>
                    <li><a href="#"><img src="images/others/instagram.png" alt="Icon" class="img-responsive"></a></li>
                </ul>               
            </div>
        </div><!-- /.gb-contact -->
        
        <div class="gb-cta-2 gb-section text-center white-color gb-bg">
            <div class="container">
                <div class="title-partners white-title">
                    <h1>
    
                        <span>CADASTRE-SE NO NOSSO SITE</span>

                    </h1>
                </div>      
                <div class="cta-info">
                    <p>Cadastrando-se no site, você tem a vantagem de rapidamente se inscrever em algum evento da SONU, sem precisa elaborar todo o cadastro antes.</p>
                    <%= link_to 'Cadastre-se', new_user_registration_path ,class: "btn btn-default" %>
                </div>
            </div><!-- /.container -->
        </div><!-- /.gb-cta-2 -->
        