<div class="gb-breadcrumb-login-cadastro gb-bg white-color">
   <div class="container">
      <div class="breadcrumb-info text-center">
         <div class="title-white">
            <h1>
               <span>Eventos</span>
            </h1>
         </div>
      </div>
   </div>
   <!-- /.container -->
</div>
<!-- /.gb-breadcrumb -->



      <div class="gb-pricing gb-section text-center">
         <div class="container">
             <div class="title-partners">
                    <h1>

                        <span>Eventos abertos</span>

                    </h1>
                    </div>
            <div class="row">
               <% @comitees.each do |comitee| %>
                     <% if comitee.is_active %>
               <div class="col-sm-4">
                  <div class="gb-price active">
                     <div class="price-info">
                        <h2> <%= link_to show_comitee_path(comitee) do %><%=comitee.name %><% end %></h2>
                        <% if comitee.dual == true %>
                                    <h4><i class="fa fa-user" aria-hidden="true"><i class="fa fa-user" aria-hidden="true">  Evento de dupla</i></i></h4>
                                    <% else %>
                                    <h4><i class="fa fa-user" aria-hidden="true"> Evento individual</i></h4> 
                           <% end %>

                           <% if comitee.type_event = 1 %>
                           <h4><i class="fa fa-graduation-cap" aria-hidden="true">Ensino superior</i>
                           </h4>
                           <% else %>
                           <h4><i class="fa fa-book" aria-hidden="true">Ensino médio </i></h4>

                           <% end %>
                     <span class="per-month">
                     <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span><%=comitee.start_date.strftime("%d/%m/%y")%></span>    - 
                      <span><%=comitee.end_date.strftime("%d/%m/%y")%>
                     </span>
                      </span>
                        </div>
                     <%= link_to show_comitee_path(comitee) do %>
                           <%= image_tag comitee.photo_url(:thumb)%>
                     <% end %>
                           <% if user_signed_in? && !current_user.comitee_id.nil? && current_user.comitee_id == comitee.id %>  

                              <div class="label label-success">INSCRITO</div>
                           <% else %>
                              <%= link_to show_comitee_path(comitee), class: "btn button-red" do %>

                           <span>Inscreva-se</span>
                           <% end %>
                           <% end %>
                  </div>
               </div>
                <%end%>
               <%end%>

            </div>
            <!--INSCRIÇOES ENCERRADAS -->

                     <div class="title-partners">
                             <h1>

                                 <span>Eventos Fechados</span>

                             </h1>
                     </div>

                  <% @comitees.each do |comitee| %>
                  <% if comitee.is_passed %>
               <div class="col-sm-4">
                  <div class="gb-price active">
                     <div class="price-info">
                     <h2>
                        <%= link_to show_comitee_path(comitee) do %><%=comitee.name%><% end %>
                     </h2>
                     <% if comitee.dual == true %>
                                    <h4><i class="fa fa-user" aria-hidden="true"><i class="fa fa-user" aria-hidden="true">  Evento de dupla</i></i></h4>
                                    <% else %>
                                    <h4><i class="fa fa-user" aria-hidden="true"> Evento individual</i></h4> 
                           <% end %>
                     <% if comitee.type_event = 1 %>
                           <h4><i class="fa fa-graduation-cap" aria-hidden="true">Ensino superior</i>
                           </h4>
                           <% else %>
                           <h4><i class="fa fa-book" aria-hidden="true">Ensino médio </i></h4>
                     <% end %>
                      <span class="per-month">
                      <i class="fa fa-calendar" aria-hidden="true"></i>
                      <span><%=comitee.start_date.strftime("%d/%m/%y")%></span>    - 
                      <span><%=comitee.end_date.strftime("%d/%m/%y")%>
                     </span>
                      </span>
                        </div>
                     <%= link_to show_comitee_path(comitee) do %>
                     <%= image_tag (comitee.photo_url(:thumb))%>
                     <% end %>
                     <% if user_signed_in? && !current_user.comitee_id.nil? && current_user.comitee_id == comitee.id %>    
                  <span class="label label-success">INSCRITO</span>
                  <% end %>
                  <%end%>
                  <%end%>

                     </div>
                    </div>
                   </div>  
                  </div>
               </div>    
