<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div class="title-white">
						<h1>
							
							<span>Festas!!!</span>
						
						</h1>
					</div>
					<ol class="breadcrumb">
						<li><%= link_to 'Festas', parties_path%></li>
						<li class="active" ><%= link_to 'Fortaleza', fortaleza_path %></li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->	

		
		<div class="gb-about gb-section">
			<div class="container">
					<% @crew_parties.each do |crew_party| %>
				<div class="row">
					<div class="col-md-4">
						<div class="about-image">
						<%= image_tag crew_party.photo_url(:medio) unless crew_party.photo_url.blank?  %>
						</div>
					</div>
					<div class="col-md-8">
						<div class="about-info">
							<h1><%= crew_party.title %></h1>
							<p><%= raw crew_party.description %></p>
						</div>
					</div>

				</div><!-- /.row --><br><br>
				<% end %>
			</div><!-- /.container -->
		</div><!-- /.gb-about -->	