

<div class="gb-breadcrumb gb-bg white-color">
	<div class="container">
		<div class="breadcrumb-info text-center">
			<div>
				<h1>
					<span class="before-top"></span>
					<span>O Secretariado</span>
					<span class="before-bottom"></span>
				</h1>
			</div>
			<ol class="breadcrumb">
				<li><%=link_to 'O Secretariado', secretary_path %></li>
				<li class="active"> <%= link_to 'A Diretoria', diretory_path %></li>
			</ol>				
		</div>
	</div><!-- /.container -->
</div><!-- /.gb-breadcrumb -->		
<div class="gb-speakers gb-section">
	<div class="container">
	<% @offices.where(is_secretary: true).each do |office|%>
		<div class="title-index">
			<h1 class="color-red">
				<span class="before-top"></span>
				<span><%=office.name%></span>
				<span class="before-bottom"></span>
			</h1>
		</div>		



		<div class="row">
			<% office.secretaries.each do |secretary| %>
			<div class="col-sm-6 col-md-3">
				<div class="speaker">
					<div class="speaker-image">
						<%= image_tag secretary.photo, class: "img-responsive" %>
						<ul class="speaker-social gb-list list-inline">
							<li><%= raw secretary.description%></li>

						</ul>
					</div>
					<div class="speaker-title">
						<h2><%=secretary.name%></h2>

					</div>
				</div>
			</div>
			<%end %>

		</div>

		<%end %>
	</div>
</div>