<div class="gb-breadcrumb gb-bg white-color">
			<div class="container">
				<div class="breadcrumb-info text-center">
					<div class="title-white">
						<h1>
							
							<span>Notícias</span>
						
						</h1>
					</div>
					<ol class="breadcrumb">
						<li><%= link_to 'Notícias', site_news_path %></li>
						<li class="active"><%= link_to 'Publicações', site_secretary_path %></li>
					</ol>				
				</div>
			</div><!-- /.container -->
		</div><!-- /.gb-breadcrumb -->	

<div class="bg-page-content blog-details">
			<div class="container">
				<div class="row">
					<div class="col-sm-8 col-md-9">
						<div class="blog-content">
							<div class="gb-post gb-box-shadow">
								<div class="entry-header">
									<div class="entry-thumbnail">
										<%= (image_tag @crew_blogs.photo, class: "img-responsive") %>
									</div>
								</div>
								<div class="entry-content">
									
									<div class="pull-left">
										<span class="post-date">
											<span class="post-date">
										<%= @crew_blogs.created_at.strftime("%d") %>
										<span><%= @crew_blogs.created_at.strftime("%B/%Y") %></span>
										</span>
										<span class="share"><a href="#"><i class="fa fa-share-alt" aria-hidden="true"></i></a></span>
									</div>
									

									<div class="media-body">
										<h2 class="entry-title"><%= link_to @crew_blogs.title, news_path(@crew_blogs) %></h2>
										<div class="entry-meta">
											<ul class="gb-list">
												<li>By<a href="#"> Admin</a></li>
												<li>In<a href="#"> Corporate</a></li>
												<li>3<a href="#"> Comments</a></li>
											</ul>
										</div>
										<div class="entry-summary">
											
											<blockquote><%= raw @crew_blogs.introdution%></blockquote>
											<p><%= raw @crew_blogs.description%></p>

										</div>
										
									</div>

								</div>
							</div><!-- /.gb-post -->
						</div>
				</div>
		</div> <!-- /.gb-row -->
	</div><!-- /.container -->
</div><!-- /.gb-page-content -->