<div class="row">
 <div class="col-md-12">
  <div class="card-box">
   <div class="dropdown pull-right">
    <%= link_to 'Novo cargo', new_crew_office_path, class: 'btn btn-primary' %>
    <%= link_to 'Novo conteúdo', new_crew_diretory_path, class: 'btn btn-primary' %>
  </div>
  <h4 class="header-title m-t-0 m-b-30">A diretoria</h4>
  <table  class="table m-0">
    <thead>
     <tr>
      <th>Cargo</th>
      <th>Nome</th>
      <th>Imagem</th>
      <th >Configurações</th>
    </tr>
  </thead>
  <tbody>
    <% @crew_diretories.each do |crew_diretory| %>
    <tr>
      <td><%= crew_diretory.office.name %></td>
      <td><%= crew_diretory.name %></td>
      <td><%= image_tag crew_diretory.photo_url(:thumb)unless crew_diretory.photo_url.blank? %></td>
      <td><%= link_to  crew_diretory do %><button data-toggle="tooltip" data-placement="left" title="Ver mais" class="btn btn-icon waves-effect waves-light btn-primary m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-eye"></i></button><% end %>
        <%=  link_to  edit_crew_diretory_path(crew_diretory) do %>
        <button data-toggle="tooltip" data-placement="left" title="Editar" class="btn btn-icon waves-effect waves-light btn-warning m-b-5"> <i class="fa fa-wrench"></i></button><% end %>

        <%= link_to crew_diretory, :method=>:delete, :class=>:destroy, data: { confirm: 'Tem certeza que deseja apagar?' } do %><button data-toggle="tooltip" data-placement="left" title="Apagar" class="btn btn-icon waves-effect waves-light btn-danger m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-remove"></i></button><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <br>



  <br>


</div>
</div>
<!-- end col -->
</div>
