<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @crew_diretory.name %>
</p>

<p>
  <strong>Photo:</strong>
  <%= @crew_diretory.photo_url(:small)unless @crew_diretory.photo_url.blank? %></ %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crew_diretory.description %>
</p>

<p>
  <strong>Office:</strong>
  <%= @crew_diretory.office %>
</p>

<%= link_to 'Edit', edit_crew_diretory_path(@crew_diretory) %> |
<%= link_to 'Back', crew_diretories_path %>
