<%= form_for @crew_category_partner, url: {action: "update"}  do |f| %>
  <% if @crew_category_partner.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crew_category_partner.errors.count, "error") %> prohibited this crew_category_partner from being saved:</h2>

      <ul>
      <% crew_category_partner.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
