  <div class="row">
    <div class="col-md-12">
      <div class="card-box">
       <div class="dropdown pull-right">

        <%= link_to 'Adicionar Subcategoria', new_crew_category_partner_path, class: 'btn btn-primary' %>
      </div>
      <h4 class="header-title m-t-0 m-b-30">Subcategorias de parceiros</h4>
      <table  class="table m-0">
        <thead>
         <tr>
          <th>Nome</th>
          <th>Configurações</th>
        </tr>
      </thead>
      <tbody>
        <% @crew_category_partners.each do |crew_category_partner| %>
        <tr>
          <td><%= crew_category_partner.name %></td>
          <td><%= link_to crew_category_partners_path(crew_category_partner) do %><button data-toggle="tooltip" data-placement="left" title="Ver mais" class="btn btn-icon waves-effect waves-light btn-primary m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-eye"></i></button><% end %>
           <%=  link_to  edit_crew_category_partner_path(crew_category_partner) do %>
           <button data-toggle="tooltip" data-placement="left" title="Editar" class="btn btn-icon waves-effect waves-light btn-warning m-b-5"> <i class="fa fa-wrench"></i></button><% end %>

           <%= link_to  crew_category_partner_path(crew_category_partner), :method=>:delete, :class=>:destroy, data: { confirm: 'Tem certeza que deseja apagar?' } do %><button data-toggle="tooltip" data-placement="left" title="Apagar" class="btn btn-icon waves-effect waves-light btn-danger m-b-5 __web-inspector-hide-shortcut__"> <i class="fa fa-remove"></i></button><% end %></td>
        </tr>
        <% end %>
      </tbody>
    </table>


    <br>
    <%= link_to 'Ir para parceiros', crew_partners_path, class: 'btn btn-primary' %>
  </div>
</div>
<!-- end col -->
</div>