<p id="notice"><%= notice %></p>

<h1>Crew Parties</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @crew_parties.each do |crew_party| %>
      <tr>
        <td><%= crew_party.title %></td>
        <td><%= raw crew_party.description %></td>
        <td><%= link_to 'Show', crew_party %></td>
        <td><%= link_to 'Edit', edit_crew_party_path(crew_party) %></td>
        <td><%= link_to 'Destroy', crew_party, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Crew Party', new_crew_party_path %>
