<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @crew_party.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= raw @crew_party.description %>
</p>

<%= link_to 'Edit', edit_crew_party_path(@crew_party) %> |
<%= link_to 'Back', crew_parties_path %>
