<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="SONU ADMIN - 2017 - BY GTi Engenharia Jr">
        <meta name="author" content="Coderthemes">




        <title>SONU - Admin</title>


        <!-- App css -->
        <%= csrf_meta_tags %>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <%= stylesheet_link_tag  'dashboard' %>

    </head>

    <body class="fixed-left">

        <div id="wrapper">
          <%=render 'crew/admins/shared/topbar'%>
          <%=render 'crew/admins/shared/left_side_bar'%>
 
          <div class="content-page">
                <!-- Start content -->
                <div class="content">
                    <div class="container">

                        <%=yield%>

                    </div>
                    <!-- container -->

                </div>
                <!-- content -->

                <footer class="footer text-right">
                    2017 © GTi Júnior.
                </footer>

            </div>
        </div>
          <%= javascript_include_tag 'dashboard'%>
            <!-- jQuery -->
             
        
    </body>


</html>
